/vendor/
/node_modules/

# Smarty Cache / Compiled templates
/view/templates_c/
/view/cache/

# PHPUnit
/phpunit.xml
.phpunit.result.cache
.phpunit.cache/
/coverage/

# IDE files
.idea/
.vscode/
*.swp
*.orig

# Logs / Temp
*.log

#Progettazione
/progettazione/